atlas/node_modules/
logistics-api/node_modules/

atlas/android/app/build/
atlas/android/.gradle/

atlas/ios/build/
atlas/ios/Pods/

logistics-api/dist/

.env
*.log
atlas/src/screens/Login/LoginScreen.tsx
